<center>
	<br>
	<br>
	<br>
	<!-- <h4>Student Details</h4> -->

	
	<!-- <input type="text" ng-model="empdetail.searchingEmp"> -->
        <!-- <form ng-submit="addMarks()"> -->

	    <!-- <label>student name:</label>

		<input type="text" ng-model="Sname" placeholder="Enter Your student Name"><br>

		<label>student age:</label>

		<input type="text" ng-model="Sage" placeholder="Enter students age"><br>

        <label>student standard:</label>

		<input type="text" ng-model="Sstandard" placeholder="Enter standard"><br> -->

		<!-- <input type="submit" value="Enter Details"> -->

		
		
		<br>        

		<input type="button" style="color: white; background-color: blue" ng-click="showdetails()"  value="showdetails" />
		<br>		
		
		<!-- <input type="button" ng-click="clear()"  value="clear" /> -->

	</form>

       

    <br>
    <br>
    <br>

    <!-- <table border="2">
		<tr>
			<th >Name</th>
			<th>age</th>
			<th>standard</th>
			<th >subject</th>
			<th>marks</th>
			<th colspan="2">Action</th>
		</tr>
<tr ng-repeat="frdObj in studentdata ">
			<td>{{frdObj.name}}</td>
			<td>{{frdObj.age}}</td>
			<td>{{frdObj.standard}}</td>
			<td>{{frdObj.subject}}</td>
			<td>{{frdObj.marks}}</td>
			
			 <td>
                <input type="button" ng-click="addMarks(frdObj._id)" value="addMarks" />
            </td> -->
            <!-- <td>
                <input type="button" ng-click="modify(frdObj._id)" value="modify" />
			</td>
			<td>
                <input type="button" ng-click="remove(frdObj._id)" value="remove" />
            </td> kana
		</tr>
	</table> --> 
</center>